.testing {
	display: flex;
  	width: percentage(5/7);
}

body {
	
    margin: 0;
}

#body {
	padding-bottom: 175px;
}

#site-container {
	min-height: 100%;
	position: relative;
	
}

.category-container {
	background: #be0000;
    padding: 15px;
    font-weight: bold;
    color: #fff;
}

.categories {
	list-style-type: none;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}

.category-entry {
	line-height: 30px;
}

.category-entry a{
	color: #00bebe;
}

.dates {
	list-style-type: none;
}

.dates li {
	float: left;
	margin-left: 31px;
	cursor: pointer;
}

.title {
	font: 600 116px/116px 'Open Sans', sans-serif;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}

.top {
	width: 100%;
	height: 50%;
	background: url("../images/top-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: table;
}

#menu-logo {
	width: 300px;
	height: 175px;
    background: url("../images/gentse-feesten-logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

footer {
	background: url("../images/menu-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 175px; 
    width: 100%; 
    position: absolute;
    left: 0;
    bottom: 0; 
    text-align: center;
}


.c-container {
	width: 400px;
	height: 450px;
	background: #c40021;
	background-image: repeating-linear-gradient(45deg, #ab001d 0px, #ab001d 25px, #c40021 25px, #c40021 50px, #ab001d 50px);
	position: relative;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.c-category {
	font-size: 40px;
	padding: 15px 0 0 40px;
	height: 100px;
	background: url("../images/menu-bg.png");
    background-size: 110% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.c-category .sub-category {
	font-size: 14px;
	margin:	0 0 0 60px;
}

.c-category-text {
	margin:	0 0 0 50px;
}

.c-logo {
	background: url("../images/c-logo-white.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	position: absolute;
	top: -15px;
	left: 20px;
	width: 50px;
	height: 75px;
}

.c-body {
	width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 0px;
    background: url("../images/party_bg.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}

.c-title {
	background: url("../images/menu-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60px; 
    width: 100%; 
    position: absolute;
    left: 0;
    bottom: 10px; 
    text-align: center;
}

.c-title-text {
	color: #c40021;
	font-size: 20px;
}

.button {
	width: 100px;
	height: 290px;
	border: none;
	position: absolute;
	margin-top: 75px;
	color: #fff;
	font-size: 40px;
	z-index: 1;
	cursor: pointer;
}

.button:focus {
	outline: none;
}

.c-left {
	@extend .button;
	background: url("../images/arrow-left-bg.png");
	margin-left: -28px;
}

.c-left:hover {
	padding-right: 30px;
}

.c-right {
	@extend .button;
	background: url("../images/arrow-right-bg.png");
	right: -21px;
}

.c-right:hover {
	padding: 50px;
}