body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: url("http://www.bostonchildrensmuseum.org/history-timeline/images/background_txt.jpg") no-repeat top left fixed; }

#event-list {
  position: relative; }

#exposed_filter {
  margin-bottom: 25px; }

.title {
  font: 600 116px/116px 'Open Sans', sans-serif;
  display: table-cell;
  vertical-align: middle;
  color: #fff; }

iframe {
  width: 100%; }

.detail-right {
  border: 1px solid #ddd;
  padding: 20px 0 20px 15px; }

.fa {
  width: 30px; }

.event-right .fa {
  width: auto;
  margin: 0 2px 0 0; }

a {
  cursor: pointer; }

.event-detail span {
  margin-right: 30px; }

.extra {
  display: none; }

.row {
  margin-bottom: 25px; }

.scene {
  height: 300px; }

.date {
  font-weight: bold; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.event {
  margin-bottom: 25px;
  -webkit-box-shadow: 10px 10px 35px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 35px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 35px -5px rgba(0, 0, 0, 0.75);
  border-left: 10px solid #bd0b15; }

.event.even {
  background: #fff; }

.event.uneven {
  background: #ec0e1a; }

.event-title {
  font-size: 25px;
  color: #ec0e1a;
  line-height: 1;
  margin: 15px 0 5px 0; }

.event-date-col {
  display: inline-block;
  min-height: 160px;
  padding: 0; }

.event-date-row {
  display: none; }

.event-right {
  background: #f5f5f5;
  min-height: 160px; }

.uneven .event-left {
  background: #ec0e1a;
  color: #fff; }

.even .event-left {
  background: #fff;
  color: #000; }

.event-day-name {
  text-align: center;
  margin-top: 15px;
  font-size: 20px; }

.event-day-number {
  text-align: center;
  font-size: 50px; }

.event-month-year {
  text-align: center;
  font-size: 20px; }

.event-details {
  margin: 5px 0 5px 0; }

.event-details .fa {
  width: 20px;
  font-size: 16px; }

.detail {
  margin-right: 25px; }

.event-extra {
  position: absolute;
  bottom: 5px;
  margin-left: -15px; }

.event a {
  color: #ec0e1a; }

.event-other-dates {
  padding-left: 0;
  font-weight: bold; }

.event-other-dates-label {
  font-weight: bold; }

.event-other-date {
  margin-right: 10px; }

.event-description {
  margin: 0 0 10px 0;
  padding-bottom: 25px; }

select {
  margin-top: 5px;
  color: #ec0e1a;
  padding: 5px;
  border-color: #ec0e1a;
  border-radius: 5px;
  width: 100%; }

select:focus {
  outline: none; }

.navbar-items {
  list-style-type: none;
  bottom: 0;
  position: absolute;
  width: 100%; }

.navbar-item {
  text-transform: uppercase; }

.navbar-item a {
  color: #ec0e1a;
  position: relative;
  display: inline-block;
  padding: 15px 0 0 0;
  margin: 10px 0 10px 30px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  float: left;
  font-size: 20px; }

.navbar-item a:hover {
  text-decoration: none;
  background-color: transparent !important;
  color: #ec0e1a;
  border-bottom: 3px solid #ec0e1a;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

#logo {
  width: 300px; }

.menu-container {
  height: 138px; }

.full {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  text-align: justify; }

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 1;
  position: fixed;
  bottom: 22px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: url(../images/scroll-top-arrow.png) no-repeat left top;
  z-index: 999; }

.favourite-link {
  font-weight: bold;
  cursor: pointer;
  color: #333;
  text-decoration: none; }

.favourite-link:hover {
  text-decoration: none;
  color: #ec0e1a; }

.favourite-link:active {
  text-decoration: none;
  color: #333; }

.remove-favourite {
  font-weight: bold;
  cursor: pointer;
  color: #333;
  text-decoration: none; }

.remove-favourite:hover {
  color: #ec0e1a;
  text-decoration: none; }

.event-favourite {
  position: absolute;
  top: 5px;
  right: 5px; }

.favourite {
  color: #000;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px; }

.favourited {
  color: #ec0e1a; }

.p-timetable {
  margin: 10px 0 10px 0; }

.p-timetable th {
  background: #ddd; }

.p-timetable th, .p-timetable td {
  padding: 0 10px 0 10px; }

@media screen and (max-width: 991px) {
  .event {
    border-left: none; }
  .event-date-col {
    display: none; }
  .event-date-row {
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-size: 20px; }
  .event-left {
    border-left: 10px solid #bd0b15; }
  .detail {
    display: block;
    margin: 5px 0 5px 0; }
  .event-extra {
    position: relative; }
  .logo-container {
    text-align: center; }
  .menu-container {
    height: 50px; } }

@media print {
  .navbar {
    display: none; }
  .remove-favourite {
    display: none; } }
